/** {
  outline: 1px solid blue;
}*/
body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#gw {
  width: 200px;
  length: 230px;
}
#gmu {
  width: 235px;
  length: 240px;
  float: right;
  clear: right;
}
#Perla {
  width: 300px;
  height: 335px;
  padding-right: 15px;
  float: right;
  clear: right;
}
.app1 {
  max-width: 100%;
  max-height: 100%;
}
.app2 {
  max-width: 100%;
  max-height: 100%;
}
.app3 {
  max-width: 100%;
  max-height: 100%;
}
p {
  font-family: 'Bitter', serif;
}
h1 {
  font-family: 'Bitter', serif;
}
h2 {
  font-family: 'Bitter', serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}
.map {
  texr-align: center;
  width: 512px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.jumbotron {
  background-color: transparent;
  height: 120vh;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  background: contain;
    width: 100%; /* make sure to define width to fill container */
    height: 780px; /* define the height in pixels or make sure   */
                   /* you have something in your div with height */
                   /* so you can see your image */
}
#video-background {
  position: absolute;
  width: 100%;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.container-fluid {
  padding: 10px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
}
.logo {
  color: #fcfbed;
  font-size: 200px;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: black;
}
.carousel-indicators li {
  border-color: black;
}
.carousel-indicators li.active {
  background-color: black;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.panel {
  border: 1px solid #fcfbed;
  border-radius:0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
  border: 1px solid #fcfbed;
  background-color: #f6f6f6 !important;
  color: black;
}
.panel-heading {
  color: black !important;
  background-color: #fcfbed !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  font-family: 'Open Sans', sans-serif;
  margin: 15px 0;
  background-color: #fcfbed;
  color: black;
}
.navbar {
  border-bottom: solid !important;
  margin-bottom: 0;
  background-color: transparent;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 1px;
  border-color: white;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar {
  color: #818181 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fcfbed !important;
  background-color:#818181 !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #818181 !important;
}
#titles {
  padding-top: 10px;
  font-family: "Bitter", serif;

}
.logo-small {
  font-size: 50px;
  float: center;
  width: 50px;
  height: 59px;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
}
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    font-family: 'Open Sans', sans-serif;
    background-color: #fcfbed;
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}
.btn-default {
  background-color: white;
}
